VITE_API_BASE_URL=/api/v1
VITE_SUPABASE_URL=https://vwzrmwjcejpszhxxeyif.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_MATERIALS_BASE_URL=https://wwg-5.oss-cn-qingdao.aliyuncs.com/materials
VITE_THINKING_MATERIALS_BASE_URL=https://wwg-thinking.oss-cn-beijing.aliyuncs.com/materials
VITE_OUTLINES_BASE_URL=
